<div class="container-fluid">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/restaurants">Restaurants</a></li>
      <li><a href="#/menu">Menu</a></li>
      <li class="active">Cart</li>
    </ol>
  </div>
  <form ng-submit="$state.go('checkout')">
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="clearfix">
          <h2 class="pull-left">Shopping cart</h2>
          <input type="submit" value="Checkout" class="btn btn-primary pull-right header-cart" ng-hide="foodService.cart < 1"/>
        </div>
        <div ng-show="foodService.cart < 1">
          <h2>There's no items in your cart.</h2>
          <p>
            You should add to your cart! <a href="#/menu" ng-show="foodService.selectedRestaurant" class="btn btn-default">{{foodService.selectedRestaurant.name}} Menu</a> <a href="#/restaurants" class="btn btn-default">View Restaurants</a>
          </p>
        </div>
        <div ng-repeat="(key, value) in foodService.cart | groupBy: 'restaurantIndex'">
          <h3>{{foodService.restaurants[key].name}} <small><a href="#/menu" ng-click="foodService.selectedRestaurant = foodService.restaurants[key]">View Menu</a></small></h3>
          <div ng-repeat="item in value | orderBy: '+name'">
            <div class="row">
              <div class="col-md-6">
                {{item.name}}
              </div>
              <div class="col-md-2">
                <strong>{{item.price | currency}}</strong>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <a class="btn btn-default input-group-addon" ng-click="foodService.removeItem(item)" type="button">
                    <i class="glyphicon" ng-class="{'glyphicon-minus': item.quantity > 1, 'glyphicon-trash': item.quantity == 1 || !item.quantity}"></i>
                  </a>
                  <input type="number" class="form-control" ng-model="item.quantity" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" min="1" placeholder="quantity" required>
                  <a class="btn btn-default input-group-addon" ng-click="item.quantity = item.quantity + 1" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="row menu-row">
              <div class="col-md-12">
                <textarea ng-bind="item.notes" class="col-md-12" placeholder="Notes for {{item.name}}">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" ng-show="foodService.cart.length > 0 && completeOrder != true">
        <div class="row text-total">
          <div class="col-md-5 text-right">
            Total:
          </div>
          <div class="col-md-7">
            {{foodService.getTotal() | currency}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 text-right">
            Tax:
          </div>
          <div class="col-md-7">
            {{foodService.getTax() | currency}}
          </div>
        </div>
        <div class="row" ng-show="foodService.getFees() != 0">
          <div class="col-md-5 text-right">
            Delivery Fee:
          </div>
          <div class="col-md-7">
            {{foodService.getFees() | currency}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 text-right">
            SubTotal:
          </div>
          <div class="col-md-7">
            {{foodService.getSubTotal() | currency}}
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-5 text-right">
            <label for="cashTip">
              Cash Tip
            </label>
          </div>
          <div class="col-md-7">
            <div class="input-group">
                <input type="checkbox"
                  name="cashTip"
                  id="cashTip"
                  ng-model="foodService.cashTip"
                  ng-click="foodService.setTipPercent(0)"
                  ng-true-value="true"
                  ng-false-value="false" />
            </div>
          </div>
        </div>

        <div ng-if="!foodService.cashTip">
          <div class="row">
            <div class="col-md-5 text-right">
              Tip Amount:
            </div>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" ng-model="foodService.tip" class="col-md-6 form-control" step="any" min="0" placeholder="Ex. {{foodService.getTotal() * 0.15 | currency}}" required>
              </div>
            </div>
          </div>
          <div class="row quick-tip-row">
            <div class="col-md-5 text-right">
              Quick Tip:
            </div>
            <div class="col-md-7">
              <a class="btn btn-default btn-sm" ng-click="foodService.setTipPercent(15)">
                15%
              </a>
              <a class="btn btn-default btn-sm" ng-click="foodService.setTipPercent(20)">
                20%
              </a>
              <a class="btn btn-default btn-sm" ng-click="foodService.setTipPercent(25)">
                25%
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>
    </div>
  </form>
</div>