<a href="#/restaurants" class="btn btn-default">Restaurants</a>
<a href="#/cart" class="btn btn-primary"><i class="glyphicon glyphicon-shopping-cart"></i> Cart</a>
<div class="container-fluid">
      
  <div class="row">
    <div class="col-md-3">
      TODO: images here
    </div>
    <div class="col-md-6">
      <h1>{{foodService.selectedRestaurant.name}}</h1>
      <div class="row" ng-repeat="item in foodService.menus.Burgers">
        <div class="col-md-3">
          <strong>{{item.name}}</strong>
        </div>
        <div class="col-md-6">
          {{item.description}}
        </div>
        <div class="col-md-1">
          <a class="btn btn-primary">+{{item.price | currency}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Information</h2>
      <dl>
        <dt>Cuisine</dt>
        <dd>{{foodService.selectedRestaurant.cuisine}}</dd>
        <dt>Rating</dt>
        <dd>{{foodService.selectedRestaurant.rating}}/5</dd>
        <dt>Delivery Fee</dt>
        <dd>{{foodService.selectedRestaurant.deliveryFee | currency}}</dd>
        <dt>Delivery Minimum</dt>
        <dd>{{foodService.selectedRestaurant.deliveryMinimum | currency}}</dd>
        <dt>Distance</dt>
        <dd>{{foodService.selectedRestaurant.distance | number:2}} miles</dd>
      </dl>
      <h2>
        Reviews
      </h2>
      <div>
        <div ng-repeat="review in foodService.selectedRestaurant.reviews">
          <strong>{{review.name}}:</strong> {{review.text}}
        </div>
      </div>
    </div>
  </div>
</div>