<div class="container-fluid">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/restaurants">Restaurants</a></li>
      <li class="active">Menu</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Images</h3>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="clearfix">
      <h2 class="pull-left">{{foodService.selectedRestaurant.name}}</h2>
      </div>
      <div class="row menu-row" ng-repeat="item in foodService.menus[foodService.selectedRestaurant.cuisine]">
        <div class="col-md-4">
          <strong>{{item.name}}</strong>
        </div>
        <div class="col-md-6">
          {{item.description}}
        </div>
        <div class="col-md-2">
          <a class="btn btn-primary pull-right" ng-click="foodService.addToCart(item)">+{{item.price | currency}}</a>
        </div>
      </div>
      <h3>
        Reviews
      </h3>
      <div>
        <div class="review-row" ng-repeat="review in foodService.selectedRestaurant.reviews">
          <strong>{{review.name}}:</strong> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': review.rating == 0, 'glyphicon-star': review.rating > 0}"></i>
          </span> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': review.rating <= 1, 'glyphicon-star': review.rating >= 1}"></i>
          </span> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': review.rating <= 2, 'glyphicon-star': review.rating >= 3}"></i>
          </span>
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': review.rating <= 3, 'glyphicon-star': review.rating >= 4}"></i>
          </span> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': review.rating <= 4, 'glyphicon-star': review.rating == 5}"></i>
          </span>
          <div>
            {{review.text}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3>Information</h3>
      <dl>
        <dt>Cuisine</dt>
        <dd>{{foodService.selectedRestaurant.cuisine}}</dd>
        <dt>Rating</dt>
        <dd>
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': foodService.selectedRestaurant.rating == 0, 'glyphicon-star': foodService.selectedRestaurant.rating > 0}"></i>
          </span> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': foodService.selectedRestaurant.rating <= 1, 'glyphicon-star': foodService.selectedRestaurant.rating >= 1}"></i>
          </span> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': foodService.selectedRestaurant.rating <= 2, 'glyphicon-star': foodService.selectedRestaurant.rating >= 3}"></i>
          </span>
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': foodService.selectedRestaurant.rating <= 3, 'glyphicon-star': foodService.selectedRestaurant.rating >= 4}"></i>
          </span> 
          <span>
            <i class="glyphicon" ng-class="{'glyphicon-star-empty': foodService.selectedRestaurant.rating <= 4, 'glyphicon-star': foodService.selectedRestaurant.rating == 5}"></i>
          </span>
        </dd>
        <dt ng-if="foodService.selectedRestaurant.orderType != 'carryout'">Delivery Fee</dt>
        <dd ng-if="foodService.selectedRestaurant.orderType != 'carryout'">{{foodService.selectedRestaurant.deliveryFee | currency}}</dd>
        <dt ng-if="foodService.selectedRestaurant.orderType != 'carryout'">Delivery Minimum</dt>
        <dd ng-if="foodService.selectedRestaurant.orderType != 'carryout'">{{foodService.selectedRestaurant.deliveryMinimum | currency}}</dd>
        <dt>Distance</dt>
        <dd>{{foodService.selectedRestaurant.distance | number:2}} miles</dd>
      </dl>
    </div>
  </div>
</div>