<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a href="#/restaurants" class="btn btn-default">Restaurants</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Images</h2>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/120x120">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="clearfix">
        <h1 class="pull-left">{{foodService.selectedRestaurant.name}}</h1>
      </div>
      <div class="row menu-row" ng-repeat="item in foodService.menus[foodService.selectedRestaurant.cuisine]">
        <div class="col-md-4">
          <strong>{{item.name}}</strong>
        </div>
        <div class="col-md-6">
          {{item.description}}
        </div>
        <div class="col-md-2">
          <a class="btn btn-primary pull-right" ng-click="foodService.addToCart(item)">+{{item.price | currency}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Information</h2>
      <dl>
        <dt>Cuisine</dt>
        <dd>{{foodService.selectedRestaurant.cuisine}}</dd>
        <dt>Rating</dt>
        <dd>{{foodService.selectedRestaurant.rating}}/5</dd>
        <dt ng-if="foodService.selectedRestaurant.orderType != 'carryout'">Delivery Fee</dt>
        <dd ng-if="foodService.selectedRestaurant.orderType != 'carryout'">{{foodService.selectedRestaurant.deliveryFee | currency}}</dd>
        <dt ng-if="foodService.selectedRestaurant.orderType != 'carryout'">Delivery Minimum</dt>
        <dd ng-if="foodService.selectedRestaurant.orderType != 'carryout'">{{foodService.selectedRestaurant.deliveryMinimum | currency}}</dd>
        <dt>Distance</dt>
        <dd>{{foodService.selectedRestaurant.distance | number:2}} miles</dd>
      </dl>
      <h2>
        Reviews
      </h2>
      <div>
        <div ng-repeat="review in foodService.selectedRestaurant.reviews">
          <strong>{{review.name}}:</strong> {{review.text}}
        </div>
      </div>
    </div>
  </div>
</div>