<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order, Eat</title>
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}
    <meta name="description" content="{%=o.htmlWebpackPlugin.options.pkg.description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/index.css">

  </head>
  <body data-ng-app="app" class="body">
    <div class="navigation" ng-class="{'active': activeNav}">
      <div>
        <h1 class="page-title"><a ui-sref="home" ng-click="activeNav = false">Order, Eat</a></h1>
        <a class="menu-icon" ng-class="{'active': activeNav}" ng-click="activeNav = !activeNav">
          <span class="menu-icon-text">Show Menu</span>
        </a>
      </div>
      <div class="nav-content">
        <div class="nav-row">
          stuff can go here...
        </div>
      </div>
    </div>

    <main>
      <div data-ui-view class="page" ng-class="{'crushed': activeNav}">
      </div>
    </main>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}

  </body>
</html>