<div class="container-fluid">
  <div class="row" ng-repeat="entry in entries">
    <div class="col-md-2">
      <div ng-if="entries.length > 1" class="commit-text">
        <a href="/#/{{entry.slug}}/{{entry.commitId}}">{{entry.commitId}}</a>
      </div>
      <div ng-if="entries.length == 1 && entryCount > 1" class="commit-text">
        <a href="/#/{{entry.slug}}/all">All Commits</a>
      </div>
    </div>
    <div class="col-md-8">
      <h1>{{entry.title}}</h1>
      <p ng-bind-html="entry.compiledContent"></p>
    </div>
  </div>
</div>