//Colors
$black: #333;
$dark-gray: #555;
$gray: #777;
$light-gray: #F0F0F0;
$blue: #00F;


a {
	&:hover {
		text-decoration: none;
		color: $dark-gray;
	}
	&:active, &:visited, &:link{
		text-decoration: none;
	}
}
body {
	background-color: $light-gray;
	color: $black;
	.fullbleed {
	  margin: 0;
		height: 100vh;
	}
}

main {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.5em;
	height: 100%;
	#loading-page {
		margin: 0 auto;
	}
	.entry-content {
	  h1 {
	  	font-size: 2em;
	  	small {
	  		font-size: 50%;
	  	}
	  }

	  .post {
	  	margin: 16px auto;
	  	width: 90%;
	  }
	  .mdl-card {
	  	width: 100%;
	  	padding: 0 20px 15px 20px;
	  	margin-bottom: 20px;
	  	min-height: inherit;
	  }
	  .commitId {
	  	margin-top: 28px;
	  	text-transform: uppercase;
	  	opacity: 0.3;
	  	-webkit-transition: opacity 0.3s ease-in-out;
		  -moz-transition: opacity 0.3s ease-in-out;
		  -o-transition: opacity 0.3s ease-in-out;
		  transition: opacity 0.3s ease-in-out;
	  	&:hover{
	  		opacity: 1;
	  	}
	  }
	}

}

nav {
	padding: 10px 15px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		font-size: 1.5em;
		color: $black;
	}
}

h1 {
	&.entry-header {
		font-size: 1.2em;
		color: $gray;
		margin-top: 26px;
	}
}

.colorful{
	background-color: #4285f4;
	color: white;
}

footer {
	font-size: 12px;
	color: black;
	text-align: center;
	//position: fixed;
	//bottom: 20px;
	margin: 0 auto;
	width: 100%;
}
footer a {
	color: #55f;
	text-decoration: none;
}

.blue{
	background-color: $blue;
}