<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="col-md-12 atlas-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a vestibulum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris tempor, lacus sed mollis vulputate, ipsum sem ultricies lectus, sit amet luctus nunc odio ac dui. Nulla et massa placerat, posuere felis in, fermentum ipsum. Pellentesque pretium fringilla elementum.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="form">
        <div class="form-group col-md-12">
          <label class="sr-only" for="searchEntries">Search</label>
          <input type="text" class="form-control col-md-12" ng-model="search" id="searchEntries" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-6" ng-repeat="entry in entries | fuzzyBy: 'name': search">
        <a href="/#/{{entry.slug}}">{{entry.name}}</a>
      </div>
    </div>
  </div>
</div>