<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{% .title %}}</title>
		{{% template "includes"%}}
	</head>
	<body>
		<header>
			<h1>{{% .title %}}</h1>
		</header>
		<nav class="container-fluid">
			<a href="/">Home</a>
			<a href="/admin">ADMIN</a>
		</nav>
		<main class="container-fluid">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-6"><a href="/admin/entry/new">NEW ENTRY</a></div>
			</div>
			{{% range .entries %}}
				<div class="row">
					<div class="col-sm-6 text-right">
						{{%if eq .Active true%}}
							{{% .Name %}}
						{{%else%}}
							<strong>{{% .Name %}}</strong>
						{{%end%}}
					</div>
					<div class="col-sm-2">VIEW (<a href="/{{%.Slug%}}">LATEST</a>|<a href="/{{%.Slug%}}/all">ALL</a>)</div>
					<div class="col-sm-1"><a href="/admin/entry/{{% .Slug %}}/new">NEW COMMIT</a></div>
					<div class="col-sm-1"><a href="/admin/entry/{{% .Slug %}}/edit">EDIT</a></div>
				</div>
			{{% end %}}
		</main>
		<footer>{{% template "footer" %}}</footer>
	</body>
</html>