<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{% .title %}}</title>
		{{% template "includes"%}}
	</head>
	<body unresolved>
		<header>
			<h1>{{% .title %}}</h1>
		</header>
		<nav>
			<a href="/">Home</a>
		</nav>
		<main>
			<template is="dom-bind" id="app">
				<iron-pages attr-for-selected="data-route" selected="{{route}}">
					<section data-route="home">
						{{% .content %}}
						{{% range .entries %}}
							<div>
								<a data-route="entry" href="/{{% .Slug %}}">{{% .Name %}}</a>
							</div>
						{{% end %}}
					</section>
					<section data-route="entry">
						<h1><span>{{entryName}}</span></h1>
						<template is="dom-repeat" items="{{entries}}">
							<h2><span>{{item.Title}}</span></h2>
							TODO make polymer element to bind html
						</template>
					</section>
				</iron-pages>
			</template>
			<paper-button class="colorful" id="butts">testing</paper-button>
		</main>

		<script src="assets/js/app.js"></script>
	</body>
</html>