<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{% .title %}}</title>
		{{% template "includes"%}}
	</head>
	<body>
		<header>
			<h1>{{% .title %}}</h1>
		</header>
		<nav>
			<a href="/">Home</a>
		</nav>
		<main>
			{{% .content %}}
			{{% range .entries %}}
				<div>
					<a href="{{% .Slug %}}">{{% .Name %}}</a>
				</div>
			{{% end %}}
		</main>
		<footer>{{% template "footer" %}}</footer>
	</body>
</html>