<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{% .title %}}</title>
		{{% template "includes"%}}
	</head>
	<body>
		<header>
			<h1>{{% .title %}}</h1>
		</header>
		<nav>
			<a href="/">Home</a>
		</nav>
		<main>
			<form method="post" action="/login">
				<input type="text" name="username" placeholder="user">
				<input type="password" name="password" placeholder="pass">
				<input type="submit">
			</form>
		</main>
		<footer>{{% template "footer" %}}</footer>
	</body>
</html>