<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{% .title %}}</title>
		{{% template "includes"%}}
	</head>
	<body>
		<header>
			<h1>{{% .title %}}</h1>
		</header>
		<nav>
			<a href="/">Home</a>
		</nav>
		<main>
			{{% range .commits %}}
				<section>
					<h2>
						{{% .Title %}}
					</h2>
					<div>
						{{% .CompiledContent %}}
					</div>
					<div>
						{{% .LastUpdated %}}
						<a href="/{{%.Slug%}}/{{% .CommitID %}}">{{% .CommitID %}}</a>
					</div>
				</section>
			{{% end %}}
		</main>
		<footer>{{% template "footer" %}}</footer>
	</body>
</html>